<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.manusis.ericzite"
        versionCode="com.manusis.ericzite"
        version   = "1.0.0">
    <name>Zite</name>
    <description>
        News Reader
    </description>
    <author email="rajiv@mystore.in" href="http://cordova.io">
        Rajiv Kumar
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:platform name="android" />
    <gap:platform name="ios" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />

    <icon src="icon.png" />

    <icon src="icons/ios/reader-57-1.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/reader-72-1.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/reader-114-1.png" gap:platform="ios" width="114" height="114" />
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="icons/ios/reader-144-1.png" gap:platform="ios" width="144" height="144" />
    <gap:plugin name="org.apache.cordova.core.splashscreen" />
    <gap:splash src="splash.png" />

    <gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />
</widget>